{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Poller+One" rel="stylesheet">
  <div class="siema">
    <div class="col-md-6 col-md-offset-4">
      <img class="img-responsive" src="/static/img/C-3P0.PNG" />
      <h3>Name: {{names[1]}}</h3>
      <h3>Height: {{height[1]}}</h3>
      <h3>Mass:  {{mass[1]}}</h3>
      <h3>Eye Color: {{eyecolor[1]}}</h3>
      <h3>Birth Year: {{birthyear[1]}}</h3>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <img src="/static/img/LukeSkywalker.PNG" />
      <h3>Name: {{names[0]}}</h3>
      <h3>Height: {{height[0]}}</h3>
      <h3>Mass: {{mass[0]}}</h3>
      <h3>Eye Color: {{eyecolor[0]}}</h3>
      <h3>Birth Year: {{birthyear[0]}}</h3>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <img src="/static/img/R2-D2.PNG" />
      <h3>Name: {{names[2]}}</h3>
      <h3>Height: {{height[2]}}</h3>
      <h3>Mass:  {{mass[2]}}</h3>
      <h3>Eye Color: {{eyecolor[2]}}</h3>
      <h3>BBirth Year: {{birthyear[2]}}</h3>
    </div>
  </div>
{% endblock %}
